body { background-color: #003366;
    background-image: linear-gradient(rgb(35, 31, 16), rgb(159, 138, 61)),
    url(img/primevertical.png);

}
a:link { text-underline: none }
h2 {
    color:#736635;
}
h3{
    color:#736635;
}
dd { font-style:italic;
    font-size:.90em;
    line-height:200%;

}
.logo {
    padding: 10px 50px 15px 5px;
    width: 300px;

}
.contact { font-family: "Times New Roman", serif;
    font-size: .90em;
    font-weight:bold;
}

#wrapper{
    padding-left: 10px;
    width: 680px;
    margin: auto;

    color: rgba(217, 215, 215, 0.66);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #231f10;

}

#nav {

    font-size: 0.7em;
    float: left;
    width: 100px;
    margin-right:  50px;
    padding-bottom: 100%;
}

#section{


    float: right;
}

#footer { font-size: 0.60em;
    font-style: italic;
    padding-bottom: 10px;
}

.property {
    padding: 5px 30px 0 0 ;
}

.home { background-image: url(img/villa2.jpg);
    background-position: -100px -275px;
    background-repeat: no-repeat;
    color: #ffffcc;
    padding: 30px 50px 15px 5px;
    width: 200px;
    margin-top: 10px ;

}

.myRow{
padding-bottom: 20px;
}

.labelCol{
    float : left;
    width: 100px ;
    padding-right: 100px;
    text-align: right;

}

.mySubmit{
    margin: 10px ;
}

.button {
    color: rgba(217, 215, 215, 0.66) ;
    background-color: rgb(17, 16, 8);
    font-size: 19px;
    border: 1px solid rgb(17, 16, 8);
    padding: 3px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 120px;
}
.button:hover {
    color: #736635;
    background-color: rgb(23, 21, 10);
}

.page {
    color: rgb(17, 16, 8) ;
    background-color: #736635;
    font-size: 19px;
    border: 1px solid #736635;
    padding: 3px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

.page:hover {
    color: rgba(217, 215, 215, 0.66);
    background-color: rgb(68, 62, 36);
    border: 1px solid #2d291a;
}